name: Update GitHub Activity

on:
  workflow_dispatch:       # 手動觸發
  schedule:
    - cron: '0 */12 * * *' # 每 12 小時自動更新一次

jobs:
  update-activity:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update recent GitHub activity
        uses: peter-evans/devops-pages-lab@v1
        with:
          TOKEN: ${{ secrets.MY_TOKEN }}        # 作業要求用自己創建的 PAT
          GH_USERNAME: haolillian            # 改成你的 GitHub 帳號
          COMMIT_NAME: "github-actions[bot]"
          COMMIT_EMAIL: "41898282+github-actions[bot]@users.noreply.github.com"
          COMMIT_MSG: "Update activity log"
          TARGET_FILE: "README.md"
          MAX_LINES: 10                       # 顯示最近 10 條活動
